body {
  background-image: url("../images/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Header (layout from template)
--------------------------------------------------------------*/

#header.header-scrolled {
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #37332a;
}

#header {
  background: rgba(12, 11, 9, 0.6);
  font-size: 30px;
  margin: 0;
  padding: 1rem 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Abril Fatface", sans-serif;
}

#header a {
  color: #fff;
  letter-spacing: 3px;
}

#header a:hover {
  text-decoration: underline #f39200;
  transition: color 0.3s ease-in-out;
}

/* On hover, animate the underline */
/* .menu a:hover::after {
  width: 100%; 
}*/

#header .container-xl {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures space between logo and navbar */
}

.home-logo {
  max-height: 50px;
  position: absolute;
  left: 10px;
  top: 15px;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  padding: 15px;
}

.btn-primary {
  display: flex;
  right: 10px;
  position: absolute;
  right: 15px;
  border-radius: 0;
  background-color: orange;
  border: none;
  top: 25px;
  width: 100px;
}

.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: center; /* Center the nav links horizontally */
  align-items: center;
  flex-grow: 1; /* Ensure it takes up space between the logo and menu */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
}

/* Hamburger Menu */
.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

/* Adjust for small screens */
@media (max-width: 768px) {
  .navbar ul {
    display: none; /* Hide the menu by default on small screens */
    flex-direction: column;
    width: 100%;
  }

  .navbar ul.show {
    display: flex;
  }

  .navbar ul li {
    text-align: center;
    width: 100%;
  }

  .menu-icon {
    display: block; /* Show the hamburger icon on small screens */
  }
}

/* First section */

#welcome {
  margin-top: 14rem;
  height: 900px; /* To create enough content to scroll */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.rest-name {
  /* max-width: 30%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.name-logo {
  display: block; /* Makes sure the image is treated as a block element */
  width: 100%; /* Image will take up 100% of its container’s width */
  max-width: 500px; /* The maximum width the image can reach */
  min-width: 300px; /* The minimum width the image can shrink to */
  height: auto; /* Maintains the aspect ratio */
  margin: 0 auto; /* Centers the image horizontally */
  opacity: 1;
}

.rest-slogan {
  color: white;
  display: block; /* Makes sure the image is treated as a block element */
  width: 100%; /* Image will take up 100% of its container’s width */
  max-width: 500px; /* The maximum width the image can reach */
  min-width: 300px; /* The minimum width the image can shrink to */
  height: auto; /* Maintains the aspect ratio */
  margin: 0 auto;
  margin-top: 2rem;
  font-family: "Abril Fatface", sans-serif;
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
}

/* Second section */

.image-container {
  position: relative;
  height: 100vh;
  display: flex;
  background-color: #00563d;
}

.background-image {
  width: 150%;
  height: auto;
}

.overlay-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 1;
}

.om-oss-text {
  display: block;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: auto;
  margin: auto;
  text-align: center;
}

.h2-fonts-text,
.h3-fonts-text {
  font-family: "Cormorant Garamond", sans-serif;
  color: #f39200;
}

strong {
  font-family: "Abril Fatface", sans-serif;
  font-weight: 100;
  color: #fff6de;
  font-size: 30px;
  letter-spacing: 5px;
}

h2 {
  font-family: "Abril Fatface", sans-serif;
  font-weight: 100;
  color: #fff6de;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Abril Fatface", sans-serif;
  font-weight: 100;
  color: #f39200;
  letter-spacing: 4px;
  font-size: 25px;
}

p {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 100;
  color: #fff6de;
  margin: 2rem;
}

/* Card section */

/*-----------BAR---------------*/

/* Container for both images */
.card-image-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Set the height to cover the entire viewport height (optional) */
}

/* First image (left) - 40% of the width */
.image-left {
  flex: 0 0 40%; /* Flex-grow, flex-shrink, and basis (width) */
  position: relative; /* Required for overlay positioning */
}

.image-left img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area without stretching */
}

/* Overlay with color */
.image-left .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(4, 57, 40, 0.8); /* Overlay color with transparency */
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center; /* Centers text vertically */
  color: rgb(250, 255, 250);
}

/* Text styling */
.image-left .overlay-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

.overlay-text .section-numbers {
  display: flex;
  width: 90px;
  height: auto;
  margin: auto;
  padding: 10px;
}

/* Second image (right) - 60% of the width */
.image-right {
  flex: 0 0 60%; /* Flex-grow, flex-shrink, and basis (width) */
}

.image-right img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area without stretching */
}

/*-----------RESTAURANT---------------*/

/* Container for text on left and image on right */
.rest-image-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Set the height to cover the whole viewport height */
}

/* Text block on the left - 40% of the width */
.rest-text-right {
  flex: 0 0 40%; /* Flex-grow, flex-shrink, and width */
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 50px;
}

/* Overlay styling for the text */
.rest-text-right .overlay {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

/* Styling for the text inside the block */
.rest-text-right .rest-overlay-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.rest-overlay .section-numbers {
  display: flex;
  width: 90px;
  height: auto;
  margin: auto;
  padding: 10px;
}

/* Right image - 60% of the width */
.rest-image-left {
  flex: 0 0 60%; /* Flex-grow, flex-shrink, and width */
}

.rest-image-left img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without stretching */
}

/* Button container */
.button-container {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  gap: 20px; /* Adds space between the buttons */
  margin-top: 20px; /* Adds some space above the buttons */
}

/* Styling for the buttons */
.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Abril Fatface", sans-serif;
  letter-spacing: 2px;
  background-color: #4caf4f00; /* Button color */
  color: #f39200;
  border: white solid 1px;
  transition: background-color 0.3s ease;
}

/*-----------PRIVATE DINING---------------*/

/* Container for text on left and image on right */
#private-dining .private-image-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Set the height to cover the whole viewport height */
}

/* Text block on the left - 40% of the width */
.private-text-left {
  flex: 0 0 40%; /* Flex-grow, flex-shrink, and width */
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px;
}

.private-p {
  font-size: 25px;
}

/* Overlay styling for the text */
.text-left .overlay {
  width: 100%;
  display: flex;
  height: 100%;
}

/* Styling for the text inside the block */
.text-left .overlay-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.private-overlay-text {
  text-align: center;
  padding: 60px;
}

/* Video container - 60% of the width */
.video-container {
  flex: 0 0 60%; /* Takes up 60% of the width */
}

.video-container video {
  width: 100%;
  height: 100vh; /* Ensures the video takes full height of its container */
  object-fit: cover; /* Ensures the video covers the area without distortion */
  display: flex;
  justify-content: center; /* Horizontally center the video */
  align-items: center; /* Vertically center the video */
}

.card-text {
  text-align: center;
  height: auto;
  width: 50%;
}

/*----------FOOTER-----------------*/

footer {
  background-color: #01160f;
  color: #fff;
  display: flex;
  width: 100%;
  height: 60vh; /* Set the height to cover the whole viewport height */
}
.contact-info {
  text-align: start;
  padding: 0 190px;
  margin-top: 2rem;
}

.contact-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.contact-list li {
  flex: 1 1 300px; /* Each item will take up a minimum of 200px, but shrink or grow based on space */
  max-width: 300px; /* Ensures items don't grow too large */
  margin: 10px; /* Adds some spacing between the items */
  text-align: start; /* Centers the content of each list item */
}

.item-title {
  font-family: "Abril Fatface", sans-serif;
  color: #00563d;
  font-size: 20px;
}

.f-p {
  margin: 0;
  font-size: 25px;
  font-weight: 100;
}

hr {
  width: 100%;
  margin: 10px auto;
  border-top: 5px solid #00563d;
}

.nyhets-knapp {
  display: flex;
  justify-content: start;
}

/*---------NEWSLETTER PAGE----------------*/

.form-page {
  margin-top: 14rem;
  height: 900px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.news-h2 {
  font-family: "Abril Fatface", sans-serif;
  color: #f39200;
}

.news-text {
  font-family: "Cormorant Garamond", sans-serif;
  color: #fff6de;
  font-size: 25px;
}

form {
  margin-top: 5rem;
  height: 900px; /* To create enough content to scroll */
  padding: 0 500px;
  font-family: Arial, sans-serif;
}

.container {
  margin: auto;
  padding: 20px;
  background-color: rgba(6, 23, 9, 0.483);
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label {
  font-family: "Cormorant Garamond", sans-serif;
  color: #fff6de;
  font-size: 20px;
}

input[type="checkbox"] {
  margin-top: 16px;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.7;
}
